.💪,
.💪🏻,
.💪🏼,
.💪🏽,
.💪🏾,
.💪🏿 {
  display: flex;

  &👉,
  &👉🏻,
  &👉🏼,
  &👉🏽,
  &👉🏾,
  &👉🏿 {
    display: flex;
    flex-direction: row;
  }

  &👈,
  &👈🏻,
  &👈🏼,
  &👈🏽,
  &👈🏾,
  &👈🏿 {
    display: flex;
    flex-direction: row-reverse;
  }

  &👇,
  &👇🏻,
  &👇🏼,
  &👇🏽,
  &👇🏾,
  &👇🏿 {
    display: flex;
    flex-direction: column;
  }

  &👆,
  &👆🏻,
  &👆🏼,
  &👆🏽,
  &👆🏾,
  &👆🏿 {
    display: flex;
    flex-direction: column-reverse;
  }
}

.👈,
.👈🏻,
.👈🏼,
.👈🏽,
.👈🏾,
.👈🏿 {
  padding-left: 1rem;
}

.😶‍🌫️ {
  opacity: 50%;
}