//Flex Box
.💪,
.💪🏻,
.💪🏼,
.💪🏽,
.💪🏾,
.💪🏿 {
  display: flex;

  &👉,
  &👉🏻,
  &👉🏼,
  &👉🏽,
  &👉🏾,
  &👉🏿 {
    display: flex;
    flex-direction: row;
  }

  &👈,
  &👈🏻,
  &👈🏼,
  &👈🏽,
  &👈🏾,
  &👈🏿 {
    display: flex;
    flex-direction: row-reverse;
  }

  &👇,
  &👇🏻,
  &👇🏼,
  &👇🏽,
  &👇🏾,
  &👇🏿 {
    display: flex;
    flex-direction: column;
  }

  &👆,
  &👆🏻,
  &👆🏼,
  &👆🏽,
  &👆🏾,
  &👆🏿 {
    display: flex;
    flex-direction: column-reverse;
  }
}

//Opacity&Display
.🖕,
.🖕🏻,
.🖕🏽,
.🖕🏾,
.🖕🏿 {
  visibility: hidden;
  opacity: 0;

  &🖕,
  &🖕🏻,
  &🖕🏽,
  &🖕🏾,
  &🖕🏿 {
    display: none;
  }
}

.👻,
.😶‍🌫️ {
  opacity: 50%;

  &👻,
  😶‍🌫️ {
    opacity: 25%;

    &👻,
    😶‍🌫️ {
      opacity: 10%;
    }
  }
}

.🫥 {
  border: dotted 1px;
}

//Shadow
.😎 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &😎 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &😎 {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
  }
}

.👈,
.👈🏻,
.👈🏼,
.👈🏽,
.👈🏾,
.👈🏿 {
  padding-left: 1rem;
}

//shapes
.🟥 {
  width: 60px;
  height: 60px;
  background-color: red;

  &-md {
    width: 180px;
    height: 180px;
    background-color: red;
  }

  &-lg {
    width: 360px;
    height: 360px;
    background-color: red;
  }
}

.🟦 {
  width: 60px;
  height: 60px;
  background-color: blue;

  &-md {
    width: 180px;
    height: 180px;
    background-color: blue;
  }

  &-lg {
    width: 360px;
    height: 360px;
    background-color: blue;
  }
}

//Shapes
.🟩 {
  width: 60px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  background-color: rgb(110, 194, 110);

  &-md {
    width: 180px; /* Adjust the width as needed */
    height: 180px; /* Adjust the height as needed */
    background-color: rgb(110, 194, 110);
  }

  &-lg {
    width: 360px; /* Adjust the width as needed */
    height: 360px; /* Adjust the height as needed */
    background-color: rgb(110, 194, 110);
  }
}
